__pycache__/
*.py[cod]
*.so

.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.venv/
venv/

*.log
output/
saved_exp/
cache_data/
data/
models/
ONNXim/compile_commands.json
ONNXim/ext/
ONNXim/extern/booksim/
ONNXim/extern/onnx/
ONNXim/extern/protobuf/
ONNXim/extern/ramulator2/
docs/paper/CAM/*.pdf
